<div class="card bg-base-200 shadow-xl">
    <figure><img src="<%= image %>" alt="<%= alt %>" class="w-full h-48 object-cover" /></figure>
    <div class="card-body">
        <h2 class="card-title"><%= title %></h2>
        <p><%= description %></p>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Starten</button>
        </div>
    </div>
</div>
