<header class="bg-base-100 shadow-md">
    <div class="container mx-auto px-4">
        <div class="navbar py-4">
            <div class="navbar-start">
                <a href="/" class="text-primary">
                    <img src="/images/queonext_signum_white.png" alt="QueoNext Logo" class="h-8">
                </a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="#" class="hover:text-primary">Über HelpBärAI</a></li>
                    <!--<li><a href="#" class="hover:text-primary">KI erfahren</a></li>-->
                    <li><a href="#" class="hover:text-primary">queonext.de</a></li>
                </ul>
            </div>
            <div class="navbar-end">
                <% if (locals.user) { %>
                    <a href="/profile" class="text-primary-content px-4 py-2 rounded hover:text-primary">
                        Mein Profil
                    </a>
                    <a href="/auth/logout" class="btn btn-primary text-primary-content px-4 py-2 rounded hover:bg-opacity-90">
                        Logout
                    </a>
                <% } else { %>
                    <a href="/auth/login" class="text-primary-content px-4 py-2 rounded hover:text-primary">
                        Login
                    </a>
                    <a href="/auth/register" class="btn btn-accent text-primary-content px-4 py-2 rounded hover:bg-opacity-90">
                        Ich möchte ausprobieren
                    </a>
                <% } %>
                <div class="dropdown dropdown-end lg:hidden">
                    <label tabindex="0" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </label>
                    <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                        <li><a href="#" class="hover:text-primary">Über HelpBärAI</a></li>
                        <li><a href="#" class="hover:text-primary">KI erfahren</a></li>
                        <li><a href="#" class="hover:text-primary">queonext.de</a></li>
                        <% if (locals.user) { %>
                            <li><a href="/profile" class="hover:text-primary">Mein Profil</a></li>
                            <li><a href="/auth/logout" class="hover:text-primary">Logout</a></li>
                        <% } else { %>
                            <li><a href="/auth/login" class="hover:text-primary">Login</a></li>
                            <li><a href="/auth/register" class="hover:text-primary">Registrieren</a></li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
