<section class="bg-base-300 py-16">
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-6xl font-bold text-white font-ff-clan font-ultra italic mb-8">Wir sind queo.<br>Wir sind next.</h2>
      <p class="text-xl font-semibold text-primary mb-8">Wir sind Techies, Werbies und Nerdies und wir sind eine Agentur.</p>
      <p class="text-lg text-white mb-8">
        Wir konzipieren, kreieren und realisieren markante Markenkommunikation, liebevolle Kampagnen, smarte Portale, wirkungsstarke Websites und individuelle Erlebnisse im Raum. Kommunikativ, datengetrieben und technologieverliebt vereinen wir unsere Superkräfte zu Power-Lösungen.
      </p>
      <p class="text-lg font-semibold mb-8">Wir sind an 6 Standorten und haben ein Standing.</p>
      <a href="https://queonext.de/ai" target="_blank" class="btn bg-primary text-lg text-white">queonext AI Hub</a> <a href="https://queonext.de" target="_blank" class="btn ml-4 border-solid border-2 border-gray-400 text-lg bg-base-300 text-gray-400">Alle Leistungen</a>
    </div>
  </div>
</section>

